.Market {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "navbar"
                        "content";
}

.navbar {
    grid-area: navbar;
}

.content {
    grid-area: content;
}